.btn
    $default = $ms-theme['default'];
    $dark = $ms-colors['grey']['d2']
    $dark-hover = $ms-colors['grey']['d1'];

    ms-elevation-transition()
    typo-button()

    display inline-block
    position relative
    padding .6439em 1.142857143em
    border-radius .15em
    border none
    background $default['base'];
    color rgba($default['sec'], 82%);
    margin .5em
    cursor pointer

    & + .btn
        margin-left: .25em

    .mdi, .btn__text
        vertical-align middle

    .mdi
        $icon-margin = .4em;
        font-size: 1.1em

        &.icon__append
            margin: 0 0 0 $icon-margin
        &.icon__prepend
            margin: 0 $icon-margin 0 0


    // Disabled
    &:disabled, &--disabled
        $disabled = $ms-colors['grey'];

        pointer-events: none
        background $disabled['l2'];
        color $disabled['d1'];

    &:hover
        background: $default['hover'];
    
    &:active
        background $default['active'];

    &--tab-focused:focus:not(:active)
        ms-elevation 10

    &--block
        display block
        width 100%
        
    // Raised
    &--raised
        ms-elevation 1

        &:active
            ms-elevation 6


    // Sizes
    &--xs
        font-size: .6em
    &--sm
        font-size: .8em
    &--lg
        font-size: 1.2em

    // Flat
    &--flat
        ms-elevation 0
        transition $primary-transition;
        background: none
        color: rgba($default['sec'], 82%);

        &:hover
            background: $default['hover'];

        &:active
            background: $default['active'];

    &--light
        background $dark
        color rgba(#FFF, 82%)

        &:hover
            background $dark-hover
        &^[0]--flat
            background none
            &:hover
                background rgba($dark-hover, 25%)

    // Colors
    for $name, $color in $ms-theme
        &.{$name}
            background $color['base'];
            color rgba($color['sec'], 82%);

            &:hover
                background $color['hover'];

            &:active
                background $color['active'];