.btn
    $default = $ms-theme['default'];

    ms-elevation-transition()
    display inline-block
    position relative
    padding .6439em 1.142857143em
    border-radius .15em
    text-decoration none
    text-transform uppercase
    font bold .9em 'Roboto'
    border none
    background $default['base'];
    color $default['sec'];
    margin .5em
    cursor pointer
    text-align center

    & + .btn
        margin-left: .25em

    .mdi, .btn__text
        vertical-align middle

    .mdi
        $icon-margin = .4em;
        font-size: 1.1em

        &.icon__append
            margin: 0 0 0 $icon-margin
        &.icon__prepend
            margin: 0 $icon-margin 0 0


    // Disabled
    &:disabled, &-disabled
        $disabled = $ms-colors['grey'];

        pointer-events: none
        background $disabled['l2'];
        color $disabled['d1'];

    &:hover
        background: $default['hover'];
    
    &:active
        background $default['active'];

    &:focus:not(:active)
        ms-elevation 10

    // Raised
    &--raised
        ms-elevation 1

        &:active
            ms-elevation 6

    // Sizes
    &--xs
        font-size: .6em
    &--sm
        font-size: .8em
    &--lg
        font-size: 1.2em

    // Colors
    for $name, $color in $ms-theme
        &.{$name}
            background $color['base'];
            color rgba($color['sec'], 90%);

            &:hover
                background $color['hover'];

            &:active
                background $color['active'];

    // Flat
    &--flat
        ms-elevation 0
        background: none
        color: rgba($default['sec'], 90%);

        &:hover
            background: $default['hover'];

        &:active
            background: $default['active'];