.ms-icon
    font-size: 1.5em

    &--medium
        font-size: 1.8em !important

    &--large
        font-size: 2em !important

    &--x-large
        font-size: 2.2em !important

    &--dark
        color: $ms-colors.grey.d3;

    &--light
        color: rgba(#fff, 92%)
    