build_style_classes($style_object, $bg="--bg", $fg="--text")
    $ignore = "b" "base";

    for $style, $sub-styles in $style_object
        .{$style}
            for $style-name, $color in $sub-styles
                if index($ignore, $style-name) isnt null
                    &{$bg}
                        background-color $color !important
                    &{$fg}
                        color $color !important
                else
                    &-{$style-name}
                        &{$bg}
                            background-color $color !important
                        &{$fg}
                            color $color !important

build_style_classes($ms-colors)
build_style_classes($ms-theme)