for $device in $devices

    .ms-{$device}-hide
        display: initial

        +media($device, true)
            display: none !important

    .ms-{$device}-show
        display: none
    
        +media($device, true)
            display: initial !important
