.ms-container
  display block
  position relative
  width 100%
  max-width $devices[md];
  margin 0 auto

  for $device, $size in $devices
    +media($device)
      padding 0 $container-padding[$device];

  &--fluid
    max-width 100%

  &.fill-height
    align-items: center
    display: flex
    
    .ms-layout
      height: 100%
      flex: 1 0 auto
