.align
    &-start
        align-items: flex-start
    
    &-end
        align-items: flex-end
        
    &-center
        align-items: center
        
    &-baseline
        align-items: baseline
    
.justify
    &-start
        justify-content: flex-start
        
    &-end
        justify-content: flex-end
        
    &-center
        justify-content: center
        
    &-space-around
        justify-content: space-around
    
    &-space-between
        justify-content: space-between

.ms-spacer
    flex-grow: 1

.scroll-y
    overflow-y: auto

.fill-height
    height: 100%
  
.show-overflow
    overflow: visible !important
  
.flexbox
    display: flex