@require "../_colors"

$ms-theme := {
    default: {
        base: $ms-colors['grey']['l-2']
        sec: $ms-colors['shades']['black']
    }
    primary: {
        base: $ms-colors['purple']['b']
        sec: $ms-colors['shades']['white']
    }
    success: {
        base: $ms-colors['green']['b']
        sec: $ms-colors['shades']['black']
    }
    info: {
        base: $ms-colors['blue']['b']
        sec: $ms-colors['shades']['black']
    }
    warning: {
        base: $ms-colors['orange']['b']
        sec: $ms-colors['shades']['black']
    }
    danger: {
        base: $ms-colors['red']['b']
        sec: $ms-colors['shades']['white']
    }
}