@require "../_colors"

$ms-theme := {
    default: {
        base: $ms-colors['grey']['l4']
        sec: $ms-colors['shades']['black']
        hover: $ms-colors['grey']['l3']
        active: $ms-colors['grey']['l2']
    }
    primary: {
        base: $ms-colors['purple']['b']
        sec: $ms-colors['shades']['white']
        hover: $ms-colors['purple']['d1']
        active: $ms-colors['purple']['d2']
    }
    success: {
        base: $ms-colors['green']['d1']
        sec: $ms-colors['shades']['white']
        hover: $ms-colors['green']['d2']
        active: $ms-colors['green']['d3']
    }
    info: {
        base: $ms-colors['blue']['b']
        sec: $ms-colors['shades']['white']
        hover: $ms-colors['blue']['d1']
        active: $ms-colors['blue']['d2']
    }
    warning: {
        base: $ms-colors['orange']['d1']
        sec: $ms-colors['shades']['white']
        hover: $ms-colors['orange']['d2']
        active: $ms-colors['orange']['d3']
    }
    error: {
        base: $ms-colors['red']['b']
        sec: $ms-colors['shades']['white']
        hover: $ms-colors['red']['d1']
        active: $ms-colors['red']['d2']
    }
    accent: {
        base: $ms-colors['pink']['b']
        sec: $ms-colors['shades']['white']
        hover: $ms-colors['pink']['d1']
        active: $ms-colors['pink']['d2']
    }
}