.ms-checkbox
    $default = $ms-colors['grey'];
    $primary = $ms-theme['primary']['base'];
    $trans   = $transition['swing'];

    display: inline-block
    white-space: nowrap
    position: relative
    margin: .25em 1em .25em 0

    // Light Theme
    &--light
    /.app--dark &
        color: #fff

    &__input
    &__label
        display: inline-block
        vertical-align: middle
        transition all .3s $trans

    .input-group__details
        border: none !important

    &__input
        position: relative
        width: 1.2em
        height: 1.2em
        border-radius: .15em
        border: 2px solid $default['b'];
        margin-right: .5em
        cursor: pointer

        ^[0]:hover &
            border-color: $default['d1'];

        &:after
            content: ''
            display: block
            position: absolute
            left: 50%
            top: 50%
            width: 100%
            height: 100%
            background: $primary
            opacity: 0
            border-radius: 100%
            transform translate(-50%, -50%) scale(0)
            transition: all .4s .5s $trans;

        &:active:after
            opacity: .14
            background: #000
            transform translate(-50%, -50%) scale(2.618)
            transition: transform .1s $trans, opacity .3s $trans

        &:before
            content: ''
            display: block
            position: absolute
            width: 0
            height: 0
            left: .2em
            bottom: .3851015897em
            transform: rotate(-45deg)
            border: none
            border-bottom: .12em solid rgba(#fff, 82%)
            border-left: .12em solid rgba(#fff, 82%)
            opacity: 0
            transition: all .1s ease

    &__label
        cursor: default

    &--checked
        & ^[0]__input
            ~/:hover&, &
                border-color: $primary
                background: $primary;

            &:before
                $w-time = .25s
                $h-time = $w-time / 1.618

                width: .7em
                height: .2em
                opacity: 1
                left: .082em
                bottom: .3861015897em
                transition: 
                     height $h-time ease,
                     bottom $h-time ease,
                     left $w-time $h-time ease,
                     width $w-time $h-time ease


    &--disabled
        cursor: default

        & ^[0]__input
            border-color: $default['b'] !important;
            opacity: .5

            ^[0]--checked&
                background: $default['b'] !important;

    for $name, $color in $ms-theme
        &--{$name}
            &:hover
                & ^[0]__input
                    border-color: $color['base'] !important;

            &^[0]--checked
                & ^[0]__input
                    border-color: $color['base'] !important;
                    background: $color['base'] !important;

                    &:after
                        background: $color['base'];
