.input-group
    $grey = $ms-colors['grey']['l1'];
    $grey_dark = $ms-colors['grey']['b'];
    $primary = $ms-theme['primary']['base']
    $error = $ms-theme['error']['base']
    $trans = $transition['swing']

    display flex
    width 100%
    margin 1.5em 0
    flex-wrap: wrap
    flex-direction: row


    input, textarea
        width 100%
        display block
        border none
        background none
        font inherit
        margin 0

    input, textarea
    .input--prefix
    .input--suffix
        padding .25em 0
        min-height 1.5em

    input
        flex 1

    textarea
        resize vertical

    label
        position absolute
        top .25em
        left 0
        color $grey_dark
        transform-origin 0 100%
        transition all .21s $trans;
        user-select: none
        z-index: 4

    .input
        &__
            &append-icon
            &prepend-icon
                flex 0 auto
                font-size: 1.5em
                min-width 1.5em

            &prepend-icon
                opacity .5
                text-align left

            &append-icon
                opacity .25
                text-align right

        &--
            &prefix
            &suffix
                opacity 0
                transition: all .21s $trans

            &prefix
                margin-right .25em
            &suffix
                margin-left .25em

    &__input
        display flex
        flex-wrap: wrap
        flex-direction: row
        position relative
        flex 1

    &__details
        display block
        padding .25em 0 0 0
        margin 0
        font-size: .8em
        min-height: 1.618em
        position relative
        flex 0 auto
        width 100%
        border-top .08em solid $grey;
        
        &:before
            content ''
            display block
            position absolute
            top -.08em
            left 0
            transition all .21s $trans;
            border-top .19em solid $primary;
            width 0
            height 0

        .input-group__error
            color $error

    &--focused, &--dirty
        & ^[0]
            &__input
                label
                    transform scale(.8) translate(0, -150%)
        .input
            &--prefix
            &--suffix
                opacity .5
            

    // Required
    &--required
        & ^[0]__input label:after
            content "*"
            color $error

    // Focus
    &--focused
        &  ^[0]__input
            label
                color $primary

            .input
                &__prepend-icon
                    color $primary
                    opacity 1
                &__append-icon
                    opacity .5

        & ^[0]__details:before
            width 100%
    // Error
    &--has-error
        &  ^[0]__input
            
            label
                color $error !important

        & ^[0]__details
            border-color $error

            &:before
                border-color $error

    for $name, $color in $ms-theme
        $ignore = 'primary' 'error'
        $color = $color['base'];

        &--{$name}
            
            & ^[0]__details:before
                border-color $color

            &^[0]--focused
                &  ^[0]__input
                        label
                        .input__prepend-icon
                            color $color

                

