.input-group
    $grey = $ms-colors['grey']['b'];
    $grey_light = $ms-colors['grey']['l2'];
    $grey_dark = $ms-colors['grey']['d2'];
    $primary = $ms-theme['primary']['base']
    $error = $ms-theme['error']['base']
    $trans = all .3s $transition['fast-in-fast-out']

    display flex
    flex-flow: row nowrap
    width 100%
    margin 1.5em 0
    color #000
    text-align left

    input, textarea
        flex 1
        display block
        border none
        background none
        margin 0
        text-align inherit
        opacity: .75

    input, textarea
    .input--prefix
    .input--suffix
        padding .25em 0
        min-height 1.5em
        cursor: text
        font inherit
        color currentColor

    .input--
        &prefix
        &suffix
            opacity .5
            transition $trans
            user-select: none

    textarea
        resize vertical
        flex 0 100%

    .input__label
        position absolute
        top .25em
        left 0
        color $grey
        transform-origin 0 100%
        transition $trans;
        user-select: none
        pointer-events: none
        z-index: 4
        width: 100%

        & ~ .input--
            &prefix
            &suffix
                opacity 0

    .input
        &__
            &append-icon
            &prepend-icon
                flex 0 auto
                font-size: 1.5em
                color currentColor
                opacity: .5
                transition $trans

            &icon-cb
                cursor: pointer

                &:hover
                    opacity: .5

            &prepend-icon
                text-align left
                padding .08em .25em 0 0

            &append-icon
                text-align right
                padding-left: .25em

        &--
            &prefix
                padding-right .25em
            &suffix
                padding-left .25em

    &__wrapper
        display flex
        flex-flow: row wrap
        flex 1
        color currentColor

    &__input
        display: flex
        flex-flow: row nowrap
        position: relative
        flex: 1
        color currentColor

    &__details
        display block
        padding .25em 0 0 0
        margin 0
        font-size: .8em
        min-height: 1.618em
        position relative
        flex 1
        flex-basis: 100%;
        width 100%
        border-top .08em solid $grey;
        
        &:before
            content ''
            display block
            position absolute
            top -.08em
            left 0
            transition $trans;
            border-top .19em solid $primary;
            width 0
            height 0

        .input-group__error
            color $error

    &__counter
        float right
        opacity 0
        &--error
            color $error
            opacity 1

    &--focused, &--dirty
        .input__label
            transform scale(.8) translate(0, -150%)
            & ~ .input
                &--prefix
                &--suffix
                    opacity .75
            


        


    // Disabled
    &--disabled
        opacity: .75

        input, textarea
        .input--prefix
        .input--suffix
            cursor: default

        & ^[0]
            &__details
                border-top-style: none

                &:before
                    content: ''
                    position: absolute
                    left: 0
                    top: 0
                    height: 1px
                    width: 100%
                    z-index: 0
                    border-color: transparent
                    background-color: transparent
                    background-image: radial-gradient(circle, rgba(#000, 33%) 40%, transparent 50%);
                    background-position: bottom
                    background-size: 4px 1px
                    background-repeat: repeat-x

    // Alignment
    &--center
        text-align center
        
    &--right
        text-align right

    // Required
    &--required
        & ^[0]__input .input__label:after
            content "*"
            color $error

    // Focus
    &--focused

        input, textarea
            opacity: 1

        .input__
            &label
                color $primary
            &prepend-icon
                color $primary
                opacity 1

            &append-icon
                opacity .5

        & ^[0]
            color #000

            &__details:before
                width 100%
            &__counter
                opacity 1
    
    // Error
    
    &--has-error
        .input__label
            color $error !important

        & ^[0]__details
            border-color $error

            &:before
                border-color $error

    
    &--light
        color: #FFF
                
    // Styles
    for $name, $color in $ms-theme
        $ignore = 'primary' 'error'
        $color = $color['base'];

        &--{$name}
            
            & ^[0]__details:before
                border-color $color

            &^[0]--focused
                .input__
                    &label
                    &prepend-icon
                        color $color
                        opacity 1

                

