.input-group
    $grey = $ms-colors['grey']['b'];
    $grey_light = $ms-colors['grey']['l1'];
    $grey_dark = $ms-colors['grey']['d2'];
    $primary = $ms-theme['primary']['base']
    $error = $ms-theme['error']['base']
    $trans = $transition['swing']

    display flex
    width 100%
    margin 1.5em 0
    flex-direction: row

    input, textarea
        flex 1
        display block
        border none
        background none
        font inherit
        margin 0
        color $grey_dark

    input, textarea
    .input--prefix
    .input--suffix
        padding .25em 0
        min-height 1.5em
        cursor: text

    .input--
        &prefix
        &suffix
            opacity .5
            transition all .21s $trans

    textarea
        resize vertical
        flex 0 100%

    .input__label
        position absolute
        top .25em
        left 0
        color $grey
        transform-origin 0 100%
        transition all .21s $trans;
        user-select: none
        z-index: 4

        & ~ .input--
            &prefix
            &suffix
                opacity 0
                transition: all .21s $trans
    .input
        &__
            &append-icon
            &prepend-icon
                flex 0 auto
                font-size: 1.5em
                min-width 1.5em
                color #000

            &prepend-icon
                opacity .5
                text-align left
                padding .08em 0 0 0

            &append-icon
                opacity .25
                text-align right

        &--
            &prefix
                margin-right .25em
            &suffix
                margin-left .25em

    &__input
        display flex
        flex-flow: row wrap;
        position relative
        flex 1

    &__details
        display block
        padding .25em 0 0 0
        margin 0
        font-size: .8em
        min-height: 1.618em
        position relative
        flex 1
        flex-basis: 100%;
        width 100%
        border-top .08em solid $grey;
        
        &:before
            content ''
            display block
            position absolute
            top -.08em
            left 0
            transition all .21s $trans;
            border-top .19em solid $primary;
            width 0
            height 0

        .input-group__error
            color $error

    &__counter
        float right
        opacity 0
        &--error
            color $error
            opacity 1

    &--focused, &--dirty
        .input__label
            transform scale(.8) translate(0, -150%)
            & ~ .input
                &--prefix
                &--suffix
                    opacity .5
            

    // Required
    &--required
        & ^[0]__input .input__label:after
            content "*"
            color $error

    // Focus
    &--focused
        input, textarea
            color #000

        .input__
            &label
                color $primary
            &prepend-icon
                color $primary
                opacity 1

            &append-icon
                opacity .5

        & ^[0]
            &__details:before
                width 100%
            &__counter
                opacity 1
    // Error
    &--has-error
        .input__label
            color $error !important

        & ^[0]__details
            border-color $error

            &:before
                border-color $error

    for $name, $color in $ms-theme
        $ignore = 'primary' 'error'
        $color = $color['base'];

        &--{$name}
            
            & ^[0]__details:before
                border-color $color

            &^[0]--focused
                .input__
                    &label
                    &prepend-icon
                        color $color
                        opacity 1

                

