user-select($content...)
    -ms-user-select: $content
    -webkit-user-select: $content
    -moz-user-select: $content
    user-select: $content
    
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block} 